<main id="signup-z" class="form-signin w-100 m-3">
  <form #f="ngForm" (ngSubmit)="onSubmit()">
    <h1 class="h3 mb-3 fw-normal">Registrati</h1>

    <div class="form-floating">
      <input type="text" class="form-control" id="floatingInput" placeholder="name" ngModel name="name" />
      <label for="floatingInput">Nome</label>
    </div>
    <div class="form-floating">
      <input type="text" class="form-control" id="floatingInput" placeholder="surname" ngModel name="surname" />
      <label for="floatingInput">Cognome</label>
    </div>
    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" ngModel name="email" />
      <label for="floatingInput">Email</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password" ngModel name="password" />
      <label for="floatingPassword">Password</label>
    </div>

    <button class="w-100 btn btn-lg btn-danger" type="submit">Registrati</button>
    <div class="check-flex">
      <!-- <div class="checkbox mt-1">
        <label> <input type="checkbox" value="remember-me" /> Ricordami </label>
      </div> -->
      <div>
        <a href="">Serve aiuto?</a>
      </div>
    </div>
    <p class="mt-5 mb-3 text-muted"></p>
  </form>
</main>
