<header class="p-3">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start mt-3">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
      </a>

      <ul class="nav col-12 col-lg-auto me-md-auto mb-2 justify-content-center mb-md-0">
        <li [routerLink]="['/home']">
          <a class="navbar-brand" href="#">
            <img src="https://fontmeme.com/permalink/221113/07550b49a33fecc85c7b6de06a353fbf.png" alt="" width="160" height="55" />
          </a>
        </li>

        <!-- <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
        <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
        <li><a href="#" class="nav-link px-2 text-white">About</a></li>  -->
      </ul>

      <div id="id-name" *ngIf="this.authService.userLogged">Ciao {{ this.authService.userLogged.user.name }}</div>
      <div class="text-end">
        <button [routerLink]="['/signup']" routerLinkActive="router link active" type="button" class="btn btn-outline-dark text-light me-2">
          Registrati
        </button>
        <button [routerLink]="['/login']" routerLinkActive="router link active" type="button" class="btn btn-danger me-2">Accedi</button>
      </div>
    </div>
  </div>
</header>
